* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body, .page-wrapper {
  height: 100%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

a {
  text-decoration: none;
  color: #ffffff; }

.text-center {
  text-align: center; }

.upper {
  text-transform: uppercase; }

.page-wrapper {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  min-width: 895px;
  color: #ffffff; }

.container {
  max-width: 1175px;
  min-width: 895px;
  margin: 0 auto;
  height: 100%; }

.header {
  background: url(img/bg-header.jpg);
  background-size: cover;
  overflow: hidden; }
  .header__top {
    height: 95px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    margin-bottom: 150px; }
  .header__logo {
    float: left; }
  .header__logo-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    width: 189px;
    height: 24px;
    background-position: -1px -21px; }
  .header__nav {
    float: right;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px; }
    .header__nav-link {
      color: rgba(255, 255, 255, 0.7);
      float: right;
      margin-left: 55px;
      line-height: 95px; }
      .header__nav-link:hover {
        color: #ffffff;
        text-decoration: underline; }
  .header .header__bottom {
    margin-bottom: 150px; }
  .header__h1 {
    font-size: 65px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 30px; }
  .header__bottom-content {
    font-size: 22px;
    margin: 0 auto 80px; }
  .header__bottom-content, .header__h1 {
    max-width: 920px; }
  .header__button {
    font-weight: 600;
    padding: 15px 50px;
    background-color: #e84545;
    transition: .2s; }
    .header__button:hover {
      box-shadow: 0 1px 35px 0 rgba(255, 142, 124, 0.57); }

.sprite, .sprite--1 {
  background-image: url(img/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite--1 {
  background-image: url(img/spritesheet_1.png); }

.features {
  background-color: #ffffff;
  padding: 120px 0 120px;
  color: #000000;
  font-size: 14px; }
  .features__item {
    width: 26%;
    float: left;
    margin: 0 35px 60px 50px; }
    .features__item:last-child {
      margin-right: 0; }
    .features__item-image {
      margin: 0 auto;
      height: 60px; }
    .features__item-h2-link {
      color: #000000;
      text-transform: uppercase; }
    .features__item-h2 {
      font-size: 14px;
      margin: 20px 0;
      font-weight: 700; }
    .features__item-content {
      line-height: 21px; }
  .features .sprite-pen {
    width: 60px;
    background-position: -156px -1px; }
  .features .sprite-display {
    width: 73px;
    background-position: -1px -63px; }
  .features .sprite-lamp {
    width: 41px;
    background-position: -104px -63px; }
  .features .sprite-science {
    width: 56px;
    background-position: -147px -63px; }
  .features .sprite-bag {
    width: 72px;
    background-position: -1px -1px; }
  .features .sprite-cloud {
    width: 79px;
    background-position: -75px -1px; }

.works__item {
  width: 25%;
  height: 350px;
  border: 1px solid #ffffff;
  float: left;
  background-size: cover;
  transition: all 2s ease; }
  .works__item:hover .works__item--hover {
    opacity: 1;
    background-color: rgba(218, 70, 69, 0.8); }
  .works__item--hover {
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 500ms ease;
    opacity: 0; }
  .works__item-caption {
    margin-bottom: 10px; }
  .works__item-content {
    position: relative;
    top: 50%; }
.works__item--img-1 {
  background-image: url(img/pick1.jpg); }
.works__item--img-2 {
  background-image: url(./img/pick2.jpg); }
.works__item--img-3 {
  background-image: url(./img/pick1.jpg); }
.works__item--img-4 {
  background-image: url(./img/pick4.jpg); }
.works__item--img-5 {
  background-image: url(./img/pick5.jpg); }
.works__item--img-6 {
  background-image: url(./img/pick6.jpg); }
.works__item--img-7 {
  background-image: url(./img/pick7.jpg); }
.works__item--img-8 {
  background-image: url(./img/pick8.jpg); }

.team {
  background-color: #ffffff;
  color: #000000;
  padding: 95px 0 135px;
  overflow: hidden; }
  .team__img {
    display: block;
    max-width: 100%; }
  .team__item {
    float: left;
    width: 23%;
    margin-left: 23px; }
  .team__name {
    font-size: 22px;
    font-weight: 400;
    margin: 24px 0 7px; }
  .team__about {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 24px; }
  .team__content {
    line-height: 22px;
    margin-bottom: 24px; }
  .team__social-icon, .footer__social-icon {
    border: 2px solid #e8ecee;
    margin-right: 3px;
    list-style-type: none;
    float: left;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    position: relative;
    cursor: pointer; }
  .team__fb {
    width: 8px;
    height: 18px;
    background-position: -1px -1px; }
  .team__in {
    width: 16px;
    height: 16px;
    background-position: -11px -1px; }
  .team__twitt {
    width: 20px;
    height: 14px;
    background-position: -29px -1px; }

.footer__container {
  padding: 70px 0 100px; }
.footer__top {
  background-color: #3a3e64; }
  .footer__top-item {
    float: left;
    width: 29%; }
    .footer__top-item--center {
      width: 127px;
      margin: 0 160px; }
  .footer__top-content, .footer__top .footer__bottom-content {
    line-height: 22px;
    color: rgba(255, 255, 255, 0.7); }
.footer__h3 {
  text-transform: uppercase;
  margin-bottom: 17px;
  font-size: 14px; }
.footer__social-icon {
  margin: 3px 8px 0 0;
  transition: all 500ms ease;
  border: 3px solid #ffffff; }
  .footer__social-icon:last-child {
    margin-right: 0; }
  .footer__social-icon:hover {
    box-shadow: inset 0 1px 13px 0 rgba(255, 255, 255, 0.6); }
.footer__social-link, .team__social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
.footer .fb {
  width: 8px;
  height: 18px;
  background-position: -76px -63px; }
.footer .in {
  width: 16px;
  height: 16px;
  background-position: -86px -63px; }
.footer .twitt {
  width: 20px;
  height: 14px;
  background-position: -1px -125px; }
.footer__bottom {
  background-color: #313454; }
  .footer__bottom-content {
    max-width: 350px;
    padding: 30px 0;
    margin: 0 auto; }
    .footer__bottom-content span {
      color: #ffffff; }

@media screen and (max-width: 1200px) {
  .page-wrapper footer .footer__top-item--center {
    margin: 0 124px; }
  .page-wrapper section.features .features__item {
    margin: 0 20px 60px 30px; }
  .page-wrapper .team__item {
    margin-left: 17px; } }

/*# sourceMappingURL=style.css.map */
